<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFO PEMBAYARAN - COCONUT OPEN CLASS</title>
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
</head>

<body>
    <style>
        .transparan {
            color: transparent !important;
        }
    </style>
    <!-- Page content-->
    <section class="py-5">
        <div class="container-fluid">
            <!-- daftar form-->
            <div class="bg-light rounded-4 py-5 px-md-5">
                <div class="text-center mb-5">
                    <img src="{{ url_for('static', filename='img/logo.png')}}" alt="" width="20%">
                    <!-- <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div> -->
                    <h1 class="fw-bolder">Pendaftar<br><sup>COCONUT Open Class</sup></h1>
                    <p class="lead fw-normal text-muted mb-0">Periksa Apakah Pembayaran Anda Berhasil!</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-12">
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms daftar Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/daftar-forms-->
                        <!-- to get an API token!-->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <!-- <h1 class="h3 mb-2 text-gray-800">Tables</h1>
                            <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table
                                below.
                                For more information about DataTables, please visit the <a target="_blank"
                                    href="https://datatables.net">official DataTables documentation</a>.</p> -->

                            <!-- DataTales Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Pendaftar COC Bootstrap 2024</h6>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                            <!-- <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="dataTables_length" id="dataTable_length"><label>Show
                                                            <select name="dataTable_length" aria-controls="dataTable"
                                                                class="custom-select custom-select-sm form-control form-control-sm">
                                                                <option value="10">10</option>
                                                                <option value="25">25</option>
                                                                <option value="50">50</option>
                                                                <option value="100">100</option>
                                                            </select> entries</label></div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div id="dataTable_filter" class="dataTables_filter">
                                                        <label>Search:<input type="search"
                                                                class="form-control form-control-sm" placeholder=""
                                                                aria-controls="dataTable"></label></div>
                                                </div>
                                            </div> -->
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table class="table table-bordered dataTable" id="dataTable"
                                                        role="grid" aria-describedby="dataTable_info"
                                                        style="width: 100%;" width="100%" cellspacing="0">
                                                        <thead>
                                                            <tr role="row">
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="dataTable" rowspan="1" colspan="1"
                                                                    style="width: 30.2px; text-align: center;"
                                                                    aria-label="Age: activate to sort column ascending">
                                                                    No</th>
                                                                <th class="sorting sorting_asc" tabindex="0"
                                                                    aria-controls="dataTable" rowspan="1" colspan="1"
                                                                    style="width: 120.717px;" aria-sort="ascending"
                                                                    aria-label="Name: activate to sort column descending">
                                                                    Nama</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="dataTable" rowspan="1" colspan="1"
                                                                    style="width: 160.717px; font-size: 0.9em;"
                                                                    aria-label="Position: activate to sort column ascending">
                                                                    Status pembayaran</th>
                                                                <!-- <th class="sorting" tabindex="0"
                                                                    aria-controls="dataTable" rowspan="1" colspan="1"
                                                                    style="width: 114.117px;"
                                                                    aria-label="Office: activate to sort column ascending">
                                                                    Office</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="dataTable" rowspan="1" colspan="1"
                                                                    style="width: 50.2px;"
                                                                    aria-label="Age: activate to sort column ascending">
                                                                    Age</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="dataTable" rowspan="1" colspan="1"
                                                                    style="width: 107.6px;"
                                                                    aria-label="Start date: activate to sort column ascending">
                                                                    Start date</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="dataTable" rowspan="1" colspan="1"
                                                                    style="width: 96px;"
                                                                    aria-label="Salary: activate to sort column ascending">
                                                                    Salary</th> -->
                                                            </tr>
                                                        </thead>
                                                        <tfoot>
                                                            <tr>
                                                                <th rowspan="1" colspan="1" style="text-align: center;">No</th>
                                                                <th rowspan="1" colspan="1">Nama</th>
                                                                <th rowspan="1" colspan="1" style=" font-size: 0.9em;">Status pembayaran</th>
                                                                <!-- <th rowspan="1" colspan="1">Office</th>
                                                                <th rowspan="1" colspan="1">Age</th>
                                                                <th rowspan="1" colspan="1">Start date</th>
                                                                <th rowspan="1" colspan="1">Salary</th> -->
                                                            </tr>
                                                        </tfoot>
                                                        <tbody>
                                                            {% for isi in daftarUser %}
                                                                <tr class="odd">
                                                                    {% if isi.status == 0 %}
                                                                        <td align="center" style="background-color: yellow;"><b>{{ isi.id }}</b></td>
                                                                        <td class="sorting_1" style="background-color: yellow;">{{ isi.nama_lengkap }}</td>
                                                                        <td  style="background-color: yellow;">dalam pengecekan</td>
                                                                    {% else %}
                                                                        <td align="center" class="text-primary"><b>{{ isi.id }}</b></td>
                                                                        <td class="sorting_1 text-primary">{{ isi.nama_lengkap }}</td>
                                                                        <td class="text-primary">Berhasil</td>
                                                                    {% endif %}
                                                                </tr>
                                                            {% endfor %}
                                                            <!-- <tr class="odd">
                                                                <td class="sorting_1">Ashton Cox</td>
                                                                <td>Junior Technical Author</td>
                                                                <td>San Francisco</td>
                                                                <td>66</td>
                                                                <td>2009/01/12</td>
                                                                <td>$86,000</td>
                                                            </tr>
                                                            <tr class="even">
                                                                <td class="sorting_1">Bradley Greer</td>
                                                                <td>Software Engineer</td>
                                                                <td>London</td>
                                                                <td>41</td>
                                                                <td>2012/10/13</td>
                                                                <td>$132,000</td>
                                                            </tr>
                                                            <tr class="odd">
                                                                <td class="sorting_1">Brenden Wagner</td>
                                                                <td>Software Engineer</td>
                                                                <td>San Francisco</td>
                                                                <td>28</td>
                                                                <td>2011/06/07</td>
                                                                <td>$206,850</td>
                                                            </tr>
                                                            <tr class="even">
                                                                <td class="sorting_1">Brielle Williamson</td>
                                                                <td>Integration Specialist</td>
                                                                <td>New York</td>
                                                                <td>61</td>
                                                                <td>2012/12/02</td>
                                                                <td>$372,000</td>
                                                            </tr>
                                                            <tr class="odd">
                                                                <td class="sorting_1">Bruno Nash</td>
                                                                <td>Software Engineer</td>
                                                                <td>London</td>
                                                                <td>38</td>
                                                                <td>2011/05/03</td>
                                                                <td>$163,500</td>
                                                            </tr>
                                                            <tr class="even">
                                                                <td class="sorting_1">Caesar Vance</td>
                                                                <td>Pre-Sales Support</td>
                                                                <td>New York</td>
                                                                <td>21</td>
                                                                <td>2011/12/12</td>
                                                                <td>$106,450</td>
                                                            </tr>
                                                            <tr class="odd">
                                                                <td class="sorting_1">Cara Stevens</td>
                                                                <td>Sales Assistant</td>
                                                                <td>New York</td>
                                                                <td>46</td>
                                                                <td>2011/12/06</td>
                                                                <td>$145,600</td>
                                                            </tr>
                                                            <tr class="even">
                                                                <td class="sorting_1">Cedric Kelly</td>
                                                                <td>Senior Javascript Developer</td>
                                                                <td>Edinburgh</td>
                                                                <td>22</td>
                                                                <td>2012/03/29</td>
                                                                <td>$433,060</td>
                                                            </tr> -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!-- <div class="row">
                                                <div class="col-sm-12 col-md-5">
                                                    <div class="dataTables_info" id="dataTable_info" role="status"
                                                        aria-live="polite">Showing 1 to 10 of 57 entries</div>
                                                </div>
                                                <div class="col-sm-12 col-md-7">
                                                    <div class="dataTables_paginate paging_simple_numbers"
                                                        id="dataTable_paginate">
                                                        <ul class="pagination">
                                                            <li class="paginate_button page-item previous disabled"
                                                                id="dataTable_previous"><a href="#"
                                                                    aria-controls="dataTable" data-dt-idx="0"
                                                                    tabindex="0" class="page-link">Previous</a></li>
                                                            <li class="paginate_button page-item active"><a href="#"
                                                                    aria-controls="dataTable" data-dt-idx="1"
                                                                    tabindex="0" class="page-link">1</a></li>
                                                            <li class="paginate_button page-item "><a href="#"
                                                                    aria-controls="dataTable" data-dt-idx="2"
                                                                    tabindex="0" class="page-link">2</a></li>
                                                            <li class="paginate_button page-item "><a href="#"
                                                                    aria-controls="dataTable" data-dt-idx="3"
                                                                    tabindex="0" class="page-link">3</a></li>
                                                            <li class="paginate_button page-item "><a href="#"
                                                                    aria-controls="dataTable" data-dt-idx="4"
                                                                    tabindex="0" class="page-link">4</a></li>
                                                            <li class="paginate_button page-item "><a href="#"
                                                                    aria-controls="dataTable" data-dt-idx="5"
                                                                    tabindex="0" class="page-link">5</a></li>
                                                            <li class="paginate_button page-item "><a href="#"
                                                                    aria-controls="dataTable" data-dt-idx="6"
                                                                    tabindex="0" class="page-link">6</a></li>
                                                            <li class="paginate_button page-item next"
                                                                id="dataTable_next"><a href="#"
                                                                    aria-controls="dataTable" data-dt-idx="7"
                                                                    tabindex="0" class="page-link">Next</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="alert alert-warning alert-dismissible fade" role="alert" id="modal-error"
        style="top: 65px; position: fixed; z-index: 9; width: 100%;">
        <!-- <strong><span id="pesanName">Holy guacamole!</span></strong> <span>You should check in on some of those fields below.</span> -->
        <!-- <button type="button" onclick="tutup()" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span> -->
        </button>
    </div>
    <!-- Vendor JS Files -->
    <!-- <script src="{{ url_for('static', filename='assets/vendor/purecounter/purecounter_vanilla.js')}}"></script> -->
    <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js')}}"></script>
    <!-- <script src="{{ url_for('static', filename='assets/vendor/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/datatables/dataTables.bootstrap4.min.js')}}"></script> -->

    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>




</body>

</html>